@model TripPlan.Model.RentACar.RentACarDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentACarDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentACarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentACarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentACarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
